<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'app_notifications', :plugin => 'redmine_app_notifications' %>
  <%= javascript_include_tag 'app_notifications', :plugin => 'redmine_app_notifications' %>
<% end %>

<div class="contextual">
  <%= link_to l(:button_mark_all_as_read), 
              mark_all_as_read_app_notifications_path, 
              :method => :patch,
              :class => 'icon icon-checked',
              :confirm => l(:text_are_you_sure) if @notifications.any?(&:read?) == false %>
</div>

<h2><%= l(:label_app_notifications) %></h2>

<% if @notifications.any? %>
  <div id="app-notifications-list">
    <% @notifications.each do |notification| %>
      <div class="app-notification <%= 'unread' unless notification.read? %>" data-id="<%= notification.id %>">
        <div class="notification-icon">
          <span class="<%= notification_icon(notification) %>"></span>
        </div>
        <div class="notification-content">
          <h4><%= link_to notification.title, notification_url(notification) %></h4>
          <p><%= simple_format(notification.message) %></p>
          <div class="notification-meta">
            <span class="notification-time"><%= format_notification_time(notification.created_at) %></span>
            <div class="notification-actions">
              <% unless notification.read? %>
                <%= link_to l(:button_mark_as_read), 
                            mark_as_read_app_notification_path(notification),
                            :method => :patch,
                            :remote => true,
                            :class => 'icon icon-checked' %>
              <% end %>
              <%= link_to l(:button_delete), 
                          app_notification_path(notification),
                          :method => :delete,
                          :remote => true,
                          :class => 'icon icon-del',
                          :confirm => l(:text_are_you_sure) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="nodata"><%= l(:label_no_notifications) %></p>
<% end %>
